<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head-bootstrap') %>
    </head>

    
    <body>
        <nav class="top_nav navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
            <%- include('../partials/top-navbar') %>
          </nav>
          <!-- LEFT SIDE NAVBAR -->
          <nav class="left_nav navbar fixed-top navbar-light bg-primary border-0">
              <%- include('../partials/left-navbar') %>
          </nav>

           <% if (services) { %>
            <h3 class='pl-5'>Services</h3>
            <% } %>
            <hr>


            <div id='rectangle'>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Weather</h5>
                      <div>
                          <a href="/dashboard/services/weather" class="card-link servicesRect">Modify</a>
                    </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Steam</h5>
                      <div>
                          <a href="/dashboard/services/steam" class="card-link servicesRect">Modify</a>
                    </div>
                    </div>
                </div>

                <!-- <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Youtube</h5>
                      <div>
                          <a href="#" class="card-link servicesRect">Modify</a>
                    </div>
                    </div>
                </div>
            </div> -->

    </body>


    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>
