<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" href="/css/dashboard.css" type='text/css'>
    </head>
    <body>
        <nav class="top_nav navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
            <%- include('../partials/top-navbar') %>
          </nav>
          <!-- LEFT SIDE NAVBAR -->
          <nav class="left_nav navbar fixed-top navbar-light bg-primary border-0">
              <%- include('../partials/left-navbar') %>
          </nav>

           <% if (inService) { %>
            <h3 class='pl-5'>Steam</h3>
            <% } %>
            <hr>

            <div id='rectangle'>
                <form action='/dashboard/services/steam' method='post'>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Steam Custom URL: </label>
                      <input type="text" class="form-control w30" name="url" placeholder="Enter your Steam custom URL." required>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Steam game:</label>
                      <input type="text" class="form-control w30" name="game" placeholder="ex: Fortnite" required>
                    </div>
                    <input type='submit' class='btn' value='Save'>
                  </form>
                  <% if (errors) { %>
                  <p><%= errors %></p>
                  <% } %>
            </div>

    </body>
    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>
