<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head-bootstrap') %>
    </head>
    <body>
        <nav class="top_nav navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
            <%- include('../partials/top-navbar') %>
          </nav>
          <!-- LEFT SIDE NAVBAR -->
          <nav class="left_nav navbar fixed-top navbar-light bg-primary border-0">
              <%- include('../partials/left-navbar') %>
          </nav>

           <% if (inService) { %>
            <h3 class='pl-5'>Weather</h3>
            <% } %>
            <hr>


            <div id='rectangle'>
                <p>Please enter a city to get Weather.</p>
                <div class="container">
                  <fieldset>
                    <form action="/dashboard/services/weather" method="post">
                      <div class="form-group row">
                        <input name="city" type="text" class="" placeholder="Enter a City" required>
                        <input type="submit" class="btn" value="Get Weather">
                      </div>
                      <!-- <input name="weather" type='text'> -->
                    </form>
                  </fieldset>
                  <% if (error) { %>
                  <p><%= error %></p>
                  <% } %>
                </div>
              </div>

    </body>
    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>
