<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head-bootstrap') %>
    </head>
    <body>
        <nav class="top_nav navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
            <%- include('../partials/top-navbar') %>
          </nav>
          <!-- LEFT SIDE NAVBAR -->
          <nav class="left_nav navbar fixed-top navbar-light bg-primary border-0">
              <%- include('../partials/left-navbar') %>
          </nav>

           <% if (youtube) { %>
            <h3 class='pl-5'>Youtube</h3>
            <% } %>
            <hr>


            <div id='rectangle'>
            </div>

    </body>
    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>
