<!doctype html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <style>
		body {
			padding-top:100px;
		}
	</style>
</head>