<div class="navbar-fixed" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/services/weather">Weather</a>
        </li>
        <ul class="navbar-nav">
            <li class="nav-item sub_li">
                <a class="nav-link" href="#">Widget 1</a>
            </li>
            <li class="nav-item sub_li">
                <a class="nav-link" href="#">Widget 2</a>
            </li>
        </ul>

        <li class="nav-item">
            <a class="nav-link" href="#">Service 2</a>
        </li>
        <ul class="navbar-nav">
            <li class="nav-item sub_li">
                <a class="nav-link" href="#">Widget 1</a>
            </li>
            <li class="nav-item sub_li">
                <a class="nav-link" href="#">Widget 2</a>
            </li>
        </ul>
      </ul>
</div>
