
<nav class="top_nav navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <% if (home) { %>
            <a class="nav-link active" href="/dashboard">Home</a>
        <% } else { %>
            <a class="nav-link" href="/dashboard">Home</a>
        <% } %>
    </li>
    <li class="nav-item">
        <% if (services) { %>
            <a class="nav-link active" href="/dasboard/services">Services</a>
        <% } else { %>
            <a class="nav-link" href="/dashboard/services">Services</a>
        <% } %>
    </li>
    <div class="nav w-100">
        <ul class="nav nav-tabs ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
