<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" href="/css/dashboard.css" type='text/css'>

    </head>
    <body>
        <%- include('partials/top-navbar') %>
        <!-- LEFT SIDE NAVBAR -->
        <nav class="left_nav navbar fixed-top navbar-light bg-primary border-0">
            <%- include('partials/left-navbar') %>
        </nav>

           <% if (home) { %>
           <h3 class='pl-5'>Welcome to your Dashboard !</h3>
           <% } %>
           <hr>
            <div id='rectangle'>
            <!-- Draggable DIV -->
                <div id="mydiv">
                    <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
                    <% if (weather) { %>
                      <div id="mydivheader">
                        <h5>Weather</h5>
                            <div class="services">
                                <u>Sky:</u>&nbsp;&nbsp;&nbsp;<%= weather.sky %>
                            </div>
                            <div class="services">
                                <u>Temperature:</u>&nbsp;&nbsp;&nbsp;<%= weather.temp %> °C
                            </div>
                            <div class="services">
                                <u>City:</u>&nbsp;&nbsp;&nbsp;<%= weather.city %>
                            </div>
                            <div class="services">
                                <u>Country:</u>&nbsp;&nbsp;&nbsp;<%= weather.country %>
                            </div>
                      </div>
                    <% } %>
                  </div>

                  <div id="mydivv">
                    <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
                    <% if (steam) { %>
                      <div id="mydivheaderv">
                        <h5>Steam</h5>
                            <div class="services">
                                <u>Username:</u>&nbsp;&nbsp;&nbsp;<%= steam.name %>
                            </div>
                            <div class="services">
                                <u>Created:</u>&nbsp;&nbsp;&nbsp;<%= steam.created %>
                            </div>
                            <div class="services">
                                <u>Last login date:</u>&nbsp;&nbsp;&nbsp;<%= steam.lastLogin %>
                            </div>
                      </div>
                    <% } %>
                  </div>
              <div>
                  <!-- <rect id='mydivheader' x="20" y="20" width="200" height="200" fill="lightblue"/>
                  <rect x="20" y="250" width="200" height="200" fill="lightblue"/>
                  <rect x="230" y="20" width="300" height="400" fill="lightblue"/> -->

    </body>

    <script>
        dragElement(document.getElementById("mydiv"));
        dragElement(document.getElementById("mydivv"));

        function dragElement(elmnt) {
          var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
          if (document.getElementById(elmnt.id + "header")) {
            // if present, the header is where you move the DIV from:
            document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
          } else {
            // otherwise, move the DIV from anywhere inside the DIV:
            elmnt.onmousedown = dragMouseDown;
          }

          function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
          }
      
          function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
          }
      
          function closeDragElement() {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
          }
        }
    </script>
    
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>
