<!-- views/index.ejs -->
<html>
<%- include('include/header.ejs') %>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1></span>Dashboard</h1>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a><br>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a><br>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a><br>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Login with Google</a><br>
		<a href="/auth/github" class="btn btn-secondary"><span class="fa fa-github"></span> Login with Github</a><br>

	</div>

</div>
</body>
</html>