html {
    height: 100%;
}

body {
    padding: 100px 0 0 20%;
}

/* START NAVBARS */

.top_nav {
    margin-left: 20% !important;
}

.left_nav {
    width: 20%;
    height: 100%;
}

.sub_li {
    padding-left: 25px;
}

ul {
    list-style-type: none;
}
/* END NAVBARS */


/*
    START Main page
    WEATHER Service design
*/

.w30 { width: 30% !important; }

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: grab;
    z-index: 10;
    background-color: lightblue;
    width: 200px;
    height: 200px;
}

#mydivv {
    position: relative;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheaderv {
    padding: 10px;
    cursor: grab;
    z-index: 10;
    background-color: lightblue;
    width: 200px;
    height: 200px;
}

#rectangle {
      width: 100%;
      height: 720px;
      background: #DDDDDD;
}

.draggable { cursor: move; }

/*
    END Main page
    WEATHER Service design

*/


/* bacground-color #e3f2fd = navbar-light color */

/*  START
    EJS parameter text format
*/
div.services {
    text-align: left;
    padding-top: 10px;
    font-size: 15px;
}

footer {
    position: fixed;
    height: 70px;
    background-color: lightgrey;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.footer_txt {
    padding-left: 20%;
}


/* 1200x620 */
@media screen and (max-width: 1200px) {
    .left_nav {
        width: 25%;
        height: 100%;
    }
    .top_nav { margin-left: 5%; }
        
    body {
        padding: 100px 0 0 25%;
    }
}